body {
	background: #ebebeb;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'HiraKakuPro-W3', 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, '游ゴシック', YuGothic, 'ＭＳ Ｐゴシック', 'MS PGothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
	height: 100%;
}
input:focus {
	outline: none;
}
/*
 * SIDEBAR (left)
 */
.sidebar {
	background: #2e404e;
	height: 100%;
	position: fixed;
	z-index: 1;
}
.site-title {
	color: #fff;
}
#search-heading {
	padding: 8px;
}
#search-results .panel-body {
	background: #f5f5f5;
	border-top: none;
	padding: 0 22px 8px;
}
#characters {
	overflow-y: scroll;
}
#search-results .row > div {
	padding-bottom: 12.5%;
	position: relative;
	overflow: hidden;
}
#search-results .character {
	color: #4d7fb3;
	cursor: pointer;
	font-size: 22px;
	height: 100%;
	left: 0;
	padding: 1px;
	position: absolute;
	width: 100%;
}
#search-results .character:hover {
	color: #222;
}
#search-results .character .vtable {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.vtable {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
}
.vtable-cell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 100%;
}
/*Stroke marker characters*/
#search-results .marker, #search-results .marker:hover {
	color: #555;
	cursor: default;
	font-weight: 600;
}
#search-results .marker .vtable {
	background: none;
	border: none;
}
/*Extra (social media, etc)*/
.sidebar .extra {
	bottom: 0;
	left: 0;
	padding: 15px 30px;
	position: absolute;
	width: 100%;
}
.sidebar .extra .about {
	background: #293946;
	border-color: #23313c;
	color: #999;
}
.sidebar .extra .icons {
	background: none;
	border: none;
	box-shadow: none;
}
.sidebar .extra .icons img {
	cursor: pointer;
}
.sidebar .extra .copyright {
	color: #999;
	text-align: left;
}
.sidebar .extra .links {
	color: #999;
	cursor: pointer;
	text-align: right;
}
.sidebar .extra .links span:hover {
	color: #aaa;
	text-decoration: underline;
}
/*
 * Selected Kanji
 */
.selected-kanji {
	padding-bottom: 10px;
	padding-top: 10px;
}
.selected-kanji .row {
	padding-left: 4px;
}
.selected-kanji .row > div {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 0 41.66666667%;
  position: relative;
}
.selected-kanji .character-selected {
	font-size: 25px;
	height: 100%;
	padding: 4px;
	position: absolute;
	left: 0;
	width: 100%;
}
.selected-kanji .character-selected .vtable {
	background: #f2f2f2;
	border: 5px solid #ccc;
	border-radius: 4px;
	cursor: default;
}
.selected-kanji .character-selected .vtable:hover, .selected-kanji .character-selected .vtable:hover button {
	border-color: #4bbaeb;
}
.selected-kanji .new .character-selected .vtable {
	border-style: dotted;
}
.selected-kanji .new .character-selected input {
	background: none;
	border: none;
	text-align: center;
	width: 100%;
}
.selected-kanji button {
	background: #f2f2f2;
	border: 3px solid #ccc;
	border-radius: 100px;
	bottom: -10px;
	color: #ccc;
	font-size: 14px;
	opacity: 1;
	position: absolute;
	right: -10px;
	width: 20px;	
}
.selected-kanji button:hover {
	opacity: 1;
}
.shadow {
	bottom: 0;
	left: 15px;
	position: absolute;
	width: 100%;
}
.shadow .character-selected .vtable {
	cursor: pointer;
}
.shadow .vtable-cell {
	font-size: 14px;
	font-weight: 600;
}
.shadow .clear .vtable-cell {
	color: #eb4c4c;
}
.shadow .print .vtable-cell {
	color: #4c81eb;
}
.shadow .selected-kanji .character-selected .clear:hover {
	border-color: #eb4c4c;
}
.shadow .selected-kanji .character-selected .print:hover {
	border-color: #4c81eb;
}

.ad {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	right: 0;
	top: 0;
	width: 315px;
}

/*
 * MAIN
 */
.main {
	height: 100%;
	padding: 15px;
	position: fixed;
	right: 0;
}
.main .panel {
	border-radius: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	height: 100%;
	padding: 2%;
}


#about {
	text-align: left;
}
#about .modal-title {
	text-align: center;
}
#about .data-source p, #about .author a {
	padding-left: 15px;
}



/*Temporary!!!!!!!!!!!!!!!!*/
.main .panel {
	width: 461.717px;
}

svg {
	border: 1px solid #fff;
	font-size: 50px;
}
rect {
	fill: #fff;
	stroke: #000;
	stroke-width: 2;
}
line {
	stroke: #777;
	stroke-width: 1;
}
svg .primary-text {
	font-size: 45px;
}
svg .secondary-text {
	font-size: 16px;
}
g {
	fill: none;
	stroke: #979797;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 6;
}

@media print {
  * {
  	margin: 0 !important;
  	padding: 0 !important;
  }
  html, body, div {
    /*changing width to 100% causes huge overflow and wrap*/
    height: 100% !important;
    overflow: hidden !important;
    width: 100% !important;
  }
  .main {
  	position: static;
  }
  .sidebar, .filler, .selected-kanji, .shadow {
  	display: none;
  }
}


@media (max-width: 910px) {
	body {
		width: 910px;
	}
	.sidebar, .filler, .shadow-sidebar {
		width: 265px;
	}
	.selected-kanji {
		width: 189px;
	}
	.main {
		left: 454px;
		width: 455px;
	}

}

@media (max-width: 1345px) {
	#search-results .row > div {
		padding-bottom: 16.66667%;
    width: 16.66667%;
	}
}