body {
	background: #ebebeb;
	font-family: "Helvetica Neue", Helvetica, Arial, "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
	height: 100%;
}
input:focus {
	outline:none;
}
/*
 * SIDEBAR (left)
 */
.sidebar {
	background: #2e404e;
	height: 100%;
	position: fixed;
}
.site-title {
	color:#fff;
}
#search-heading {
	padding:8px;
}
#search-results .panel-body {
	padding:0 22px 8px;
	border-top:none;
	background: #f5f5f5;
}
#characters {
	overflow-y: scroll;
}
#search-results .row > div {
	position: relative;
	padding-bottom: 12.5%;
	overflow: hidden;
}
#search-results .character {
	position: absolute;
	left:0;
	height:100%;
	width:100%;
	padding:1px;
	font-size:22px;
	cursor: pointer;
	color: #4d7fb3;
}
#search-results .character:hover {
	color: #222;
}
#search-results .character .vtable {
	background:#fff;
	border:1px solid #ddd;
	border-radius: 4px;
}
.vtable {
	position: relative;
	display:table;
	height:100%;
	width:100%;
}
.vtable-cell {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}
/*Stroke marker characters*/
#search-results .character.marker, #search-results .character.marker:hover {
	color:#555;
	cursor: default;
	font-weight: 600;
}
#search-results .character.marker .vtable {
	background: none;
	border:none;
}
/*Extra (social media, etc)*/
.sidebar .extra {
	position: absolute;
	width:100%;
	left:0;
	bottom:0;
	padding:15px 30px;
}
.sidebar .extra .about {
	border-color: #23313c;
	background: #293946;
	color:#ccc;
}
.sidebar .extra .icons {
	background:none;
	border:none;
	box-shadow: none;
}
.sidebar .extra .icons img {
	cursor:pointer;
}
.sidebar .extra .copyright {
	text-align: left;
	color: #999;
}
.sidebar .extra .links {
	text-align: right;
}
.sidebar .extra .links a {
	color:#999;
}

/*
 * Selected Kanji
 */
.selected-kanji {
	padding-top: 10px;
	padding-bottom: 10px;
}
.selected-kanji .row {
	padding-left: 4px;
}
.selected-kanji .row > div {
	position:relative;
	padding: 0;
	padding-bottom: 41.66666667%;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.selected-kanji .character-selected {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	padding:4px;
	font-size:25px;
}
.selected-kanji .character-selected .vtable {
	border:5px solid #ccc;
	border-radius: 4px;
	cursor: default;
	background: #f2f2f2;
}
.selected-kanji .character-selected .vtable:hover, .selected-kanji .character-selected .vtable:hover button {
	border-color: #4bbaeb;
}
.selected-kanji .character-selected.new .vtable {
	border-style: dotted;
}
.selected-kanji .character-selected.new input {
	width: 100%;
	text-align: center;
	background: none;
	border:none;
}
.selected-kanji button {
	font-size:14px;
	position: absolute;
	bottom: -10px;
	right: -10px;
	background:#f2f2f2;
	opacity: 1;
	color:#ccc;
	width:20px;
	border:3px solid #ccc;
	border-radius: 100px
}
.selected-kanji button:hover {
	opacity:1;
}

/*
 * MAIN
 */
.main {
	padding:15px;
	height:100%;
	position:fixed;
	right: 0;
}
.main .panel {
	border-radius: 0;
	height: 100%;
	padding: 2%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}




/*Temporary!!!!!!!!!!!!!!!!*/
.main .panel {
	width: 461.717px;
}

svg {font-size: 50px;} 
rect {fill:#fff;stroke:#000;stroke-width:2;} 
line {stroke:#777777;stroke-width:1;} 
svg .primary-text {font-size:45px;} 
svg .secondary-text {font-size:16px;} 

@media print {
  * { margin: 0 !important; padding: 0 !important; }
  html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 
    overflow: hidden;
  }
}