body {
	background: #ebebeb;
}
.sidebar {
	background: #2e404e;
	height: 100%;
	position: fixed;
}
.site-title {
	color:#fff;
}
#search-results .row > div {
	position: relative;
	padding-bottom: 12.5%;
	overflow: hidden;
}
#search-results .character {
	position: absolute;
	left:0;
	height:100%;
	width:100%;
	padding:1px;
	font-size:20px;
}
.vtable {
	display:table;
	height:100%;
	width:100%;
}
.vtable-cell {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

/*Testing. delete*/
#search-results .row > div:nth-child(even) {background:blue;}
#search-results .row > div:nth-child(odd) {background:gray;}